@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body {
    margin: 0;
    background: #000000;
    font-family: 'Fira Code', monospace;
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 10;
    background: #000000;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav button {
    background: transparent;
    border: none;
    color: white;
    margin-left: 20px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s;
}

nav button:hover {
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF;
}

/* ---------------- Terminal ---------------- */

#terminal {
    position: absolute;
    top: 70px; /* height of header */
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);

    background: #000000;

    padding: 25px 30px;
    box-sizing: border-box;

    overflow-y: auto;


    display: flex;
    flex-direction: column;
}

/* place prompt at top */
.top-input {
    margin-bottom: 15px;
}

#output {
    white-space: pre-wrap;
    padding-right: 10px;
    flex-grow: 1;
    overflow-y: auto;
}

/* input line */

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 8px;
    color: #00FF99;
}

#terminal-input {
    background: black;
    border: none;
    color: #00FFFF;
    outline: none;
    width: 100%;
    font-size: 16px;
}

/* ---------------- Skill Cards ---------------- */

.skill-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.skill-card {
    background: #10151c;
    padding: 20px 30px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,255,255,0.15);
    animation: fadeIn 0.6s ease forwards;
}

.skill-title {
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.skill-title.green {
    background: #b6d7a8;
    color: black;
}

.skill-title.blue {
    background: #add8e6;
    color: black;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

.skill-card li {
    margin: 8px 0;
    font-size: 16px;
    color: white;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}
