.body {
    margin: 0;
    height: 1000vh;
    width: 1200px;
    border: 1px red solid;
    display: flex;
   justify-content: center;
   background-color: rgb(226, 226, 226);
}

.search-body {
    border: 2px red solid;
    height: 390px;
    width: 40%;
    padding-top: 40px;
}
.main-info-div {
    border: 2px solid blue;
    height: 110px;
    background: url(img/banner.jpg) no-repeat 0px -45px;
    background-size: 1100px;
    padding-left: 30px;
    line-height: 15px;
}
#text-1 {
    font-size: 22px;
    font-weight: 600;
    padding-top: 12px;
}
#text-2 {
    font-size: 17px;
}
.form-div {
    height: 250px;
    border: 2px solid black;
    padding-left: 30px;
    padding-top: 25px;
    background-color: white;
}
#required {
    color: red;
    font-size: 12px;
    padding-left: 2px;
    vertical-align: 2px;
}
label {
    display: block;
    margin-bottom: 1px;
    color: rgb(34, 109, 179);
}
#street {
    width: 400px;
    height: 20px;
}
.city-state-div {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}
#state {
    width: 188px
}
#city {
    height: 20px;
}
.checkbox{
    padding-top: 8px;
    display: flex;
}
hr {
    margin-top: 20px;
    width: calc(100% - 40px);
    margin-left: 0;
    background-color: #000;
}
.button {
    padding-top: 20px;
}
#submit-btn {
    border-radius: 0px;
    height: 40px;
    width: 90px;
    background-color: #4c6caa;
    color: white;
    border: none;
}
#clear-btn {
    border-radius: 0px;
    height: 40px;
    width: 90px;
    background-color: rgb(252,180,4);
    color: white;
    border: none;
}