.body {
    width: 1200px;
    margin-left: -8px;
    margin-bottom: -9px;
}
#Top-Bar{
    display: flex;
    justify-content: space-between;
}
.page2, .Menu {
    display: inline-block;
    background-color: white;
    height: 55px;
    margin-left: 200px;
    margin-right: 160px;
    margin-top: 50px;
    font-size: 11px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}
.page2 a{
    text-decoration: none;
    color: rgb(201, 201, 201);
    padding: 10px;
}
.page2 a:hover{
    color: black;
}
.page2 {
    right: 0;
    text-align: right;
    gap: 20px;
}
.image-container {
    position: relative;
    height: 535px;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./images/lawyer.jpg");
    background-size: cover;
    filter: brightness(0.8) contrast(1.2);
    mix-blend-mode: multiply;
}

.signup {
    position: absolute;
    top: 110px;
    left: 200px;
    height: 280px;
    width: 20%;
    background-color: rgb(16,60,92);
    padding-left: 25px;
    padding-top: 40px;
}
.signup p {
    color: white;
    margin: 0;
}
#first-para {
    font-size: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 30;
}
#second-para {
    font-size: 25px;
    font-family: 'Segoe UI', sans-serif;
}
.signup i {
    color: rgb(226, 204, 1);
    font-size: 10px;
    font-family: 'Segoe UI', sans-serif;
}
#singnup-inputbox {
    margin-top: 10px;
    width: 200px;
    height: 28px;
    background: whitesmoke;
    border: none; 
    border-radius: 0px; 
    padding: 5px; 
}
.signup-button {
    margin-top: 20px;
    width: 110px;
    height: 30px;
    text-align: center;
    background: rgb(236, 214, 7);
}
.signup-button p {
    color: rgb(0, 0, 0);
    font-size: 9px;
    padding-top: 10px;
    font-weight: 100;
    font-style: normal;
}
#sign-up-buttom-p{
    font-family: 'Montserrat', sans-serif;
}
.feature-main {
    padding-top: 140px;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px; 
}

.feature {
    color: grey;
    font-size: 11px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.8;
}
.feature p {
    color: black;
    font-size: 13px;
    font-family: 'Righteous', sans-serif;
    font-weight: lighter;
}

.review {
    padding-top: 140px;
    text-align: center;
    height: 180px;
    background: rgb(244,244,244);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#review-2 {
    font-size: 12px;
    color: #747474;
}
#review-1 {
    font-weight: 300;
}
.bold-text {
    font-weight: bold;
    color: black;
}
.parallex-image-container{
    position: relative;
    height: 650px;
    height:90%;
}
.parallex-image-container::before {
    background-image: url("./images/glasses.png");
    opacity: 0.2;
    filter: grayscale(100%);
    background-size: 1200px 100%;
    background-position: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    content: "";
}
.plans {
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    padding-bottom: 50px;
}
.plan-affordable {
    text-align: center;
    padding-top: 30px;
    line-height: 1.5;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
#PRICES2 {
    color: rgb(170, 170, 170);
    font-size: 12px;
}
#PRICES {
    font-size: 18px;
    font-weight: 100px;
}
.grid-1 {
    width: 280px;
    height: 400px;
    position: relative;
    background-image: 
        linear-gradient(90deg, rgba(16, 16, 16, 0.1) 0.5px, transparent 0.5px), 
        linear-gradient(180deg, rgba(16, 16, 16, 0.1) 0.5px, transparent 0.5px); 
    background-size: 14px 14px; 
    background-color: white;
}
.grid-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
    linear-gradient(45deg, transparent 50%, rgba(16, 16, 16, 0.1) 48%, rgba(16, 16, 16, 0.1) 52%, transparent 50%),
    linear-gradient(-45deg, transparent 50%, rgba(16, 16, 16, 0.1) 48%, rgba(16, 16, 16, 0.1) 52%, transparent 50%);
    background-size: 28px 28px; 
    pointer-events: none;
}
.basic, .standard, .corporate{
    text-align: center;
}
.plans p{
    line-height: 33px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
    font-size: 12px;
    color: rgb(81, 81, 81);
}
#price-type1, #price-type2, #price-type3 {
    line-height: 0.1;
    padding-top: 20px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.term {
    line-height: 0.1;
    padding-top: 20px;
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bold-text2 {
    color: black;
    font-weight: 400;
}
.buy-now {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: rgb(16,60,92);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-left: 80px;
    margin-top: -30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.try-app {
    height: 400px;
    background-image: url("./images/notebook.jpg");
    background-size: cover;
    background-position: 53% 47%;
    position: relative;
}

.try-app::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 60, 92, 0.8); 
    z-index: 1;
}

.try-app-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    position: relative;
    text-align: center;
    line-height: 0cm;
    z-index: 2; 
    font-family: 'Montserrat', sans-serif;
}
#try-app-text-one {
    font-size: 23px;
    color: white;
    font-weight: 100;
}
#try-app-text-two {
    font-size: 10px;
    color: white;
}
.try-app-button {
    margin-top: 20px;
    width: 120px;
    height: 35px;
    text-align: center;
    background: rgb(234, 211, 3);
}
.try-app-button p {
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding-top: 5px;
    font-weight: 100;
    font-style: normal;
}
.social {
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 38, 52);
    align-items: center;
    justify-content: center;
}
.social p{
    color: white;
    line-height: 0; 
    font-size: 12px;
}
.social-icons{
    padding-top: 18px;
    display: flex;
    gap: 20px;
}
.social img {
    width: 25px;
    height: 25px;    
}
#social-text-1 {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
}
#social-text-2 {
    font-family: sans-serif;
    color: rgb(175, 175, 175);
    font-size: 10px;
}
#about, #projects, #services {
    margin: 0;
    font-size: 40px;
    line-height: 1.5;
    color: black;
}