body {
    background-color: rgb(226, 226, 226);
    height: 100%;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    /* margin-left: 300px; */
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-body {
    height: 390px;
    padding-top: 40px;
}
.main-info-div {
    height: 110px;
    background: url(img/banner.jpg) no-repeat 0px -45px;
    background-size: 1100px;
    padding-left: 30px;
    line-height: 15px;
}
#text-1 {
    font-size: 22px;
    font-weight: 600;
    padding-top: 35px;
}
#text-2 {
    font-size: 17px;
}
.form-div {
    height: 265px;
    padding-left: 30px;
    padding-top: 25px;
    background-color: white;
}
#required {
    color: red;
    font-size: 12px;
    padding-left: 2px;
    vertical-align: 2px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: rgb(34, 109, 179);
}
#street {
    width: 428px;
    height: 20px;
}
.city-state-div {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}
#state {
    width: 215px
}
#city {
    height: 20px;
}
.checkbox{
    padding-top: 8px;
    display: flex;
}
hr {
    margin-top: 20px;
    width: calc(100% - 40px);
    margin-left: 0;
    background-color: #000;
}
.button {
    padding-top: 15px;
}
#submit-btn {
    border-radius: 0px;
    height: 40px;
    width: 90px;
    background-color: #4c6caa;
    color: white;
    border: none;
}
#clear-btn {
    border-radius: 0px;
    height: 40px;
    width: 90px;
    background-color: rgb(252,180,4);
    color: white;
    border: none;
}
/************ TOOLTIP *****************/

/************ CARD1 *******************/
.card {
    height: 390px;
    width: 690px;
    margin-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    /* margin-left: 200px; */
    display: none;
}

.card-section-1 {
    height: 40px;
    padding-top: 12px;
}
#weather-now {
    width: 140px;  
    height: 140px;  
}
.card-section-2 {
    height: 90px;
    display: flex;
    flex-direction: row;
    gap: 220px;
}
.card-section-22 {
    padding-left: 30px;
    padding-top: 50px;
    font-size: 22px;
}
.section2-part1 {
    display: flex;
    flex-direction: row;
}
.section2-part2{
    font-size: 120px;
}
.card-section-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    flex-direction: row;
    width: 100%;
}

.weather-report {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-width: 80px;
    max-width: 120px;
    height: 120px;
}

.weather-types {
    font-size: 18px;
}
.weather-icons {
    width: 35px;  
    height: 35px;
}
.weather-values {
    font-size: 18px;
}
.weather-types, .weather-values, .card-section-22, #card-address, .section2-part2 {
    color: rgb(134, 134, 134);
}

#card-address {
    font-size: 25px;
}

/****************** CARD 2 ******************/
.card2 {
    width: 950px;
    height: 420px;
    display: flex;
    flex-direction: column;
    /* margin-left: 100px; */
    margin-top: 50px;
    display: none;
}
.weather-card {
    display: flex;
    flex-direction: row;
    gap: 120px;
    background-color: white;
    align-items: center;
    margin-top: 7px;
    padding: 12px;
    padding-left: 60px;
}
.card2Image {
    width: 60px;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.card2Image img {
    width: 50px;  
    height: auto; 
}
.card2Image span {
    display: inline-block;
    text-align: middle;
}
.card2Heading {
    display: flex;
    padding: 13px;
    justify-content: flex-start;
    padding-left: 100px;
    background-color: rgb(34, 109, 179);
}

.card2Heading span:nth-child(1) {
    margin-right: 200px;
}
.card2Heading span:nth-child(2) {
    margin-right: 140px; 
}
.card2Heading span:nth-child(3),
.card2Heading span:nth-child(4),
.card2Heading span:nth-child(5) {
    margin-right: 80px; 
}
.card2Heading span:last-child {
    margin-right: 0;
}
/**************** WHITELINE ****************/
#whiteline1, #whiteline2 {
    border: none;
    background-color: white;
    height: 0.8px;
    width: 33%;
    margin: 20px auto;
    display: none;
}
/**************** CARD3 ********************/
.card3Heading, .chartHeading {
    margin-top: 80px;
    text-align: center;
    font-size: 45px;
    display: none;
}
.cardBox3 {
    margin-top: 20px;
    height: 390px;
    width: 510px;
    border: 3px solid rgb(171, 171, 171);
    background-image: linear-gradient(white, #3d578c);
    display: none;
}
.card3Box1 {
    margin-top: 15px;
    justify-content: space-between;
}
.card3Box1 {
    display: flex;
    flex-direction: row;
}
.card3UpperText {
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: rgb(22, 83, 141);
}

#card3Date, #card3Status {
    font-size: 25px;
}

#card3Temp {
    font-size: 32px;
}

#card3UpperImg {
    height: 160px;
    width: 160px;
    padding-right: 20px;
    padding-top: 5px;
}

.C3Types {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 2px;
    margin-bottom: 4px;
    /* padding-top: 5px; */
}

.C3TypesText {
    width: 255px;
    text-align: right;
    font-size: 18px;
}

.C3TypesValue {
    text-align: left;
    font-size: 22px;
}

/************* DOWNARROW **************/
.downarrow {
    height: 40px;
    width: 40px;
    display: none;
}

/************* CHART1 *****************/
#chart1 {
    margin-top: 2px;
    height: 380px;
    width: 820px;
    display: none;
}